<form [formGroup]="meuForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Nome</label>
    <input type="text" class="form-control" formControlName="nomeUsuario" placeholder="Nome">
  </div>

  <!-- <app-mostrar-mensagem [controles]="meuForm.controls['email']" ></app-mostrar-mensagem> -->
  <app-mostrar-mensagem
  [controles]="meuForm.controls['nomeUsuario']"
  [mensagem]="'Erro ao preencher Nome'"
  ></app-mostrar-mensagem>

  <div class="form-group">
    <label for="exampleInputEmail1">CPF</label>
    <input type="text" class="form-control" formControlName="cpfUsuario" aria-describedby="emailHelp" placeholder="CPF">
  </div>

  <!-- <app-mostrar-mensagem [controles]="meuForm.controls['email']" ></app-mostrar-mensagem> -->
  <app-mostrar-mensagem
  [controles]="meuForm.controls['cpfUsuario']"
  [mensagem]="'Erro ao preencher CPF'"
  ></app-mostrar-mensagem>

  <div class="form-group">
    <label for="exampleInputPassword1">Data de Nascimento</label>
    <input type="text" class="form-control" formControlName="dataNasc" placeholder="Data de Nascimento">
  </div>
  <!-- <app-mostrar-mensagem [controles]="meuForm.controls['password']" ></app-mostrar-mensagem> -->
  <app-mostrar-mensagem
  [controles]="meuForm.controls['dataNasc']"
  [mensagem]="'Erro ao preencher Data de Nascimento'"
  ></app-mostrar-mensagem>

  <div class="form-group">
    <label for="exampleInputEmail1">Endereço</label>
    <input type="text" class="form-control" formControlName="enderecoUsuario" placeholder="Endereço">
  </div>

  <!-- <app-mostrar-mensagem [controles]="meuForm.controls['email']" ></app-mostrar-mensagem> -->
  <app-mostrar-mensagem
  [controles]="meuForm.controls['enderecoUsuario']"
  [mensagem]="'Erro ao preencher Endereço'"
  ></app-mostrar-mensagem>

  <div class="form-group">
    <label for="exampleInputEmail1">Telefone</label>
    <input type="text" class="form-control" formControlName="telefoneUsuario"  placeholder="Telefone">
  </div>

  <!-- <app-mostrar-mensagem [controles]="meuForm.controls['email']" ></app-mostrar-mensagem> -->
  <app-mostrar-mensagem
  [controles]="meuForm.controls['telefoneUsuario']"
  [mensagem]="'Erro ao preencher Telefone'"
  ></app-mostrar-mensagem>
<br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
