<form [formGroup]="meuForm" (submit)="onSubmit()" >
  <div class="row d-flex justify-content-center">
      <div class="col-8">
        <br>
          <div class="form-group">
              <label >Nome</label>
              <input type="text" class="form-control" formControlName="nomeUsuario" placeholder="Nome">
          </div>

          <app-mostrar-mensagem
              [controles]="meuForm.controls['nome']"
              [mensagem]="'Erro ao preencher nome'"
          ></app-mostrar-mensagem>

      </div>
  </div>
  <div class="row d-flex justify-content-center">
      <div class="col-8">
          <div class="form-group">
              <label >CPF</label>
              <input type="text" class="form-control" formControlName="cpfUsuario" placeholder="CPF">
          </div>

          <app-mostrar-mensagem
              [controles]="meuForm.controls['cpfUsuario']"
              [mensagem]="'Erro ao preencher CPF'"
          ></app-mostrar-mensagem>
      </div>
  </div>

  <div class="row d-flex justify-content-center">
      <div class="col-8">
          <div class="form-group">
              <label >Data de Nascimento</label>
              <input type="date" class="form-control" formControlName="dataNasc" placeholder="Data de Nascimento">
          </div>

          <app-mostrar-mensagem
              [controles]="meuForm.controls['dataNasc']"
              [mensagem]="'Erro ao preencher Data de Nascimento'"
          ></app-mostrar-mensagem>

      </div>
  </div>

  <div class="row d-flex justify-content-center">
      <div class="col-8">
          <div class="form-group">
              <label >Endereço</label>
              <input type="text" class="form-control" formControlName="enderecoUsuario" placeholder="Endereço">
          </div>

          <app-mostrar-mensagem
              [controles]="meuForm.controls['enderecoUsuario']"
              [mensagem]="'Erro ao preencher Endereço'"
          ></app-mostrar-mensagem>
      </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-8">
        <div class="form-group">
            <label >Telefone</label>
            <input type="text" class="form-control" formControlName="telefoneUsuario" placeholder="Telefone">
        </div>

        <app-mostrar-mensagem
            [controles]="meuForm.controls['telefoneUsuario']"
            [mensagem]="'Erro ao preencher Telefone'"
        ></app-mostrar-mensagem>
    </div>
</div>
<br>
  <div class="row d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Salvar</button>
  </div>

</form>
