<div class="container">
  <ul class="nav nav-pills nav-fill justify-content-center">
    <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
      aria-current="page"  [routerLinkActiveOptions]= "{exact: true}">Active</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/usuarios']"  routerLinkActive="active" >Usuários</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/vacinas']"  routerLinkActive="active" >Vacinas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/vacinacao']"  routerLinkActive="active" >Vacinação</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['formularios/reativo-form']"  routerLinkActive="active" >Formularios</a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li> -->
  </ul>
  <router-outlet></router-outlet>
</div>


